DB_PORT=5432
REDIS_PORT=6379
S3_PORT=8333
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=

KEYCLOAK_PORT=4444
KEYCLOAK_HOSTNAME=
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=
